# Modules

In [2]:
import pandas as pd

# Variables

In [3]:
# National emissions reported to the Convention on Long-range Transboundary Air Pollution (LRTAP Convention), 2023
# https://sdi.eea.europa.eu/catalogue/srv/eng/catalog.search#/metadata/2999364f-be52-4012-b4fd-f98e2cc8fab6
ds_NatEmissions='01.Data/eea_t_lrtap-convention_p_1990-2021_v01_r00/CLRTAP_NVFR19_V23_1_GF_csv.csv'

In [4]:
# National emissions reported to the UNFCCC and to the EU Greenhouse Gas Monitoring Mechanism, October 2023
# https://sdi.eea.europa.eu/catalogue/srv/eng/catalog.search#/metadata/e2e7dd1e-0d67-4b20-a0d4-b22c53a59d24
ds_UNFCCEmissions='01.Data/eea_t_national-emissions-reported_p_2023_v01_r01/UNFCCC_v26.csv'

# Load data

In [5]:
df_NatEmissions=pd.read_csv(ds_NatEmissions,header=0,delimiter="\t", dtype='unicode')

In [6]:
df_NatEmissions.head()

,Country_Code,Country,Pollutant_name,Format_name,Sector_code,Year,Emissions,Unit,Notation,VersionId,Parent_sector_code,Sector_name
0,AT,Austria,As,NFR 2014-1,1A1a,1990,NaN,Mg,NaN,1,NATIONAL TOTAL,Public electricity and heat production
1,AT,Austria,As,NFR 2014-1,1A1b,1990,NaN,Mg,NaN,1,NATIONAL TOTAL,Petroleum refining
2,AT,Austria,As,NFR 2014-1,1A1c,1990,NaN,Mg,NaN,1,NATIONAL TOTAL,Manufacture of solid fuels and other energy in...
3,AT,Austria,As,NFR 2014-1,1A2a,1990,NaN,Mg,NaN,1,NATIONAL TOTAL,Stationary combustion in manufacturing industr...
4,AT,Austria,As,NFR 2014-1,1A2b,1990,NaN,Mg,NaN,1,NATIONAL TOTAL,Stationary combustion in manufacturing industr...

Let's filter only emissions from domestic and international aviation.

In [7]:
col=df_NatEmissions.Sector_name.unique()
for i in col: 
    if type(i) is str:
        if 'aviation' in i:
            print(i)

International aviation LTO (civil)
Domestic aviation LTO (civil)
International aviation cruise (civil)
Domestic aviation cruise (civil)

In [8]:
df_NatEmissions = df_NatEmissions[
    (df_NatEmissions.Sector_name == 'International aviation LTO (civil)') |
    (df_NatEmissions.Sector_name == 'Domestic aviation LTO (civil)') |
    (df_NatEmissions.Sector_name == 'International aviation cruise (civil)') |
    (df_NatEmissions.Sector_name == 'Domestic aviation cruise (civil)')]
df_NatEmissions.Sector_name.unique()

array(['International aviation LTO (civil)',
       'Domestic aviation LTO (civil)',
       'International aviation cruise (civil)',
       'Domestic aviation cruise (civil)'], dtype=object)

In [9]:
df_NatEmissions.shape

(109824, 12)

In [10]:
def get_var_category(series):
    unique_count = series.nunique(dropna=False)
    total_count = len(series)
    if pd.api.types.is_numeric_dtype(series):
        return 'Numerical'
    elif pd.api.types.is_datetime64_dtype(series):
        return 'Date'
    elif unique_count==total_count:
        return 'Text (Unique)'
    else:
        return 'Categorical'

def print_categories(df):
    for column_name in df.columns:
        print(column_name, ": ", get_var_category(df[column_name]))

In [11]:
print_categories(df_NatEmissions)

Country_Code :  Categorical
Country :  Categorical
Pollutant_name :  Categorical
Format_name :  Categorical
Sector_code :  Categorical
Year :  Categorical
Emissions :  Categorical
Unit :  Categorical
Notation :  Categorical
VersionId :  Categorical
Parent_sector_code :  Categorical
Sector_name :  Categorical

In [12]:
df_NatEmissions.info()

<class 'pandas.core.frame.DataFrame'>
Index: 109824 entries, 11 to 3816372
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Country_Code        109824 non-null  object
 1   Country             109824 non-null  object
 2   Pollutant_name      109824 non-null  object
 3   Format_name         109824 non-null  object
 4   Sector_code         109824 non-null  object
 5   Year                109824 non-null  object
 6   Emissions           65639 non-null   object
 7   Unit                109824 non-null  object
 8   Notation            0 non-null       object
 9   VersionId           109824 non-null  object
 10  Parent_sector_code  55744 non-null   object
 11  Sector_name         109824 non-null  object
dtypes: object(12)
memory usage: 10.9+ MB

We can see that the column `Emissions` have some null values, let focus this point.

In [16]:
df_NatEmissions.Pollutant_name.unique()

array(['As', 'BC', 'benzo(a)', 'benzo(b)', 'benzo(k)', 'Cd', 'CO', 'Cr',
       'Cu', 'dioxin', 'HCB', 'Hg', 'Indeno', 'NH3', 'Ni', 'NMVOC', 'NOx',
       'Pb', 'PCB', 'PM10', 'PM2.5', 'Se', 'SOx', 'total PAH', 'TSP',
       'Zn'], dtype=object)

In [22]:
# Filter
df_NatEmissions_CO = df_NatEmissions[df_NatEmissions.Pollutant_name == 'CO']
df_NatEmissions_CO.head()

,Country_Code,Country,Pollutant_name,Format_name,Sector_code,Year,Emissions,Unit,Notation,VersionId,Parent_sector_code,Sector_name
880715,AT,Austria,CO,NFR 2014-1,1A3ai(i),1990,0.546014734375045,Gg,NaN,1,NATIONAL TOTAL,International aviation LTO (civil)
880716,AT,Austria,CO,NFR 2014-1,1A3aii(i),1990,2.01173854159798,Gg,NaN,1,NATIONAL TOTAL,Domestic aviation LTO (civil)
880834,AT,Austria,CO,NFR 2014-1,1A3ai(ii),1990,0.371429201405631,Gg,NaN,1,NaN,International aviation cruise (civil)
880835,AT,Austria,CO,NFR 2014-1,1A3aii(ii),1990,0.029021482170732,Gg,NaN,1,NaN,Domestic aviation cruise (civil)
880854,BE,Belgium,CO,NFR 2014-1,1A3ai(i),1990,0.68220925196,Gg,NaN,1,NATIONAL TOTAL,International aviation LTO (civil)

In [25]:
# Select only useful columns
df_NatEmissions_CO=df_NatEmissions_CO[['Country_Code','Pollutant_name','Year','Emissions','Unit','Sector_name']]
df_NatEmissions_CO.head()

,Country_Code,Pollutant_name,Year,Emissions,Unit,Sector_name
880715,AT,CO,1990,0.546014734375045,Gg,International aviation LTO (civil)
880716,AT,CO,1990,2.01173854159798,Gg,Domestic aviation LTO (civil)
880834,AT,CO,1990,0.371429201405631,Gg,International aviation cruise (civil)
880835,AT,CO,1990,0.029021482170732,Gg,Domestic aviation cruise (civil)
880854,BE,CO,1990,0.68220925196,Gg,International aviation LTO (civil)

In [26]:
# Show null values per each column
df_NatEmissions_CO.isna().sum()

Country_Code        0
Pollutant_name      0
Year                0
Emissions         334
Unit                0
Sector_name         0
dtype: int64

In [36]:
# These Country has some missiong values on Emissions column
df_NatEmissions_CO_remove=df_NatEmissions_CO[df_NatEmissions_CO.Emissions.isnull()].Country_Code.unique()

In [43]:
df_NatEmissions_CO=df_NatEmissions_CO[~df_NatEmissions_CO.Country_Code.isin(df_NatEmissions_CO_remove)]

In [44]:
df_NatEmissions_CO.isna().sum()

Country_Code      0
Pollutant_name    0
Year              0
Emissions         0
Unit              0
Sector_name       0
dtype: int64

In [46]:
df_NatEmissions_CO.head()

,Country_Code,Pollutant_name,Year,Emissions,Unit,Sector_name
880715,AT,CO,1990,0.546014734375045,Gg,International aviation LTO (civil)
880716,AT,CO,1990,2.01173854159798,Gg,Domestic aviation LTO (civil)
880834,AT,CO,1990,0.371429201405631,Gg,International aviation cruise (civil)
880835,AT,CO,1990,0.029021482170732,Gg,Domestic aviation cruise (civil)
880854,BE,CO,1990,0.68220925196,Gg,International aviation LTO (civil)

In [ ]:
df_NatEmissions1 = df_NatEmissions[df_NatEmissions.Pollutant_name == 'CO']

In [ ]:
#AND
df_NatEmissions2=df_NatEmissions[(df_NatEmissions.Pollutant_name == 'CO') & (df_NatEmissions.Sector_name == 'International aviation LTO (civil)')]
#OR
df_NatEmissions3=df_NatEmissions[(df_NatEmissions.Pollutant_name == 'CO') | (df_NatEmissions.Sector_name == 'International aviation LTO (civil)')]

In [ ]:
#df_NatEmissions3.Pollutant_name.unique()
df_NatEmissions3.Sector_name.unique()

In [ ]:
input_data=pd.read_csv(ds_UNFCCEmissions,header=0, dtype='unicode')

In [ ]:
input_data.head()

In [ ]:
input_data.size