# 1.Modules

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from pandasql import sqldf

# 2.Variables

## 2.1. Filenames

In [1]:
# National emissions reported to the Convention on Long-range Transboundary Air Pollution (LRTAP Convention), 2023
# Air transport of passengers by country (yearly data)
ds_AirPassengers='01.Data/Air transport of passengers by country (yearly data)/ttr00012_page_spreadsheet.xlsx'

# 3.Load data

In [20]:
df_AirPassengers = pd.read_excel(ds_AirPassengers, sheet_name='Sheet 1', skiprows=10)

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [22]:
# Drop first row 
df_AirPassengers = df_AirPassengers.iloc[1:]

In [24]:
# Rename first column
df_AirPassengers = df_AirPassengers.rename(columns={'TIME': 'Geo'})

In [26]:
df_AirPassengers.head()

,Geo,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,European Union - 27 countries (from 2020),746100398,781202599,819698948,871695782,938854476,996295411,1035119832,276758108,373809763,819849662
2,Euro area – 20 countries (from 2023),:,:,:,:,:,:,:,:,:,:
3,Euro area - 19 countries (2015-2022),:,:,:,:,:,:,:,:,:,:
4,Belgium,26389927,28776258,30958841,30115832,33260493,34506309,35385188,9465828,13500020,27873892
5,Bulgaria,7079292,7520697,7610949,9324217,11092651,12137714,11713068,3729017,5047877,8807502

# 4. Filter the dataset

In [28]:
df_AirPassengersEU27 = df_AirPassengers[(df_AirPassengers.Geo == 'European Union - 27 countries (from 2020)')]

In [31]:
df_AirPassengersEU27.head()

                                              1
Geo   European Union - 27 countries (from 2020)
2013                                  746100398
2014                                  781202599
2015                                  819698948
2016                                  871695782

In [30]:
df_AirPassengersEU27 = df_AirPassengersEU27.transpose()