# 1.Modules

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from pandasql import sqldf

# 2.Variables

## 2.1. Filenames

In [23]:
# National emissions reported to the Convention on Long-range Transboundary Air Pollution (LRTAP Convention), 2023
# Air transport of passengers by country (yearly data)
ds_AirPassengers='01.Data/Air transport of passengers by country (yearly data)/ttr00012_page_spreadsheet.xlsx'

In [24]:
out_EU27_passengers = '02.Transformed data/02.EU27_passengers.csv'

# 3.Load data

In [25]:
df_AirPassengers = pd.read_excel(ds_AirPassengers, sheet_name='Sheet 1', skiprows=10)

/Users/Nicola.Simboli/Il mio Drive/99.Altro/Computer-programming-and-data-management-Assignment/dabs_venv/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [26]:
# Drop first row 
df_AirPassengers = df_AirPassengers.iloc[1:]

In [27]:
# Rename first column
df_AirPassengers = df_AirPassengers.rename(columns={'TIME': 'Geo'})

In [28]:
df_AirPassengers.head()

,Geo,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,European Union - 27 countries (from 2020),746100398,781202599,819698948,871695782,938854476,996295411,1035119832,276758108,373809763,819849662
2,Euro area – 20 countries (from 2023),:,:,:,:,:,:,:,:,:,:
3,Euro area - 19 countries (2015-2022),:,:,:,:,:,:,:,:,:,:
4,Belgium,26389927,28776258,30958841,30115832,33260493,34506309,35385188,9465828,13500020,27873892
5,Bulgaria,7079292,7520697,7610949,9324217,11092651,12137714,11713068,3729017,5047877,8807502

# 4. Filter the dataset

In [29]:
df_AirPassengersEU27 = df_AirPassengers[(df_AirPassengers.Geo == 'European Union - 27 countries (from 2020)')]

In [30]:
df_AirPassengersEU27.head()

,Geo,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,European Union - 27 countries (from 2020),746100398,781202599,819698948,871695782,938854476,996295411,1035119832,276758108,373809763,819849662

In [31]:
df_AirPassengersEU27 = df_AirPassengersEU27.transpose()

In [32]:
# Drop first row 
df_AirPassengersEU27 = df_AirPassengersEU27.iloc[1:]

In [33]:
 # Reset index to make 'Year' a column
df_AirPassengersEU27.reset_index(inplace=True)

In [34]:
# Rename first column
df_AirPassengersEU27 = df_AirPassengersEU27.rename(columns={1: 'Passengers', 'index': 'Year'})

In [35]:
df_AirPassengersEU27['Year'] = df_AirPassengersEU27['Year'].astype("int")
df_AirPassengersEU27['Passengers'] = df_AirPassengersEU27['Passengers'].astype("int")

In [36]:
df_AirPassengersEU27.head()

   Year  Passengers
0  2013   746100398
1  2014   781202599
2  2015   819698948
3  2016   871695782
4  2017   938854476

In [37]:
df_AirPassengersEU27['Year'].describe()

count      10.00000
mean     2017.50000
std         3.02765
min      2013.00000
25%      2015.25000
50%      2017.50000
75%      2019.75000
max      2022.00000
Name: Year, dtype: float64

In [38]:
# Describe used with lambda functions to prevent exponential notation
df_AirPassengersEU27['Passengers'].describe().apply(lambda x: format(x, 'f'))

count            10.000000
mean      765938497.900000
std       250797168.568968
min       276758108.000000
25%       754875948.250000
50%       819774305.000000
75%       922064802.500000
max      1035119832.000000
Name: Passengers, dtype: object

# Export

In [39]:
df_AirPassengersEU27.to_csv(out_EU27_passengers, index=False)