# Modules

In [1]:
import pandas as pd
import os 
import glob

# Variables

In [2]:
dir_HFE = '01.Data/Horizontal Flight Efficiency'
out_HFE = '02.Transformed data/10.HFE.csv'
out_HFE_grouped = '02.Transformed data/10.HFE_grouped.csv'
dir_Country_Trascode = '04.Trascode/out_Country_ISO.csv'

# Load data

In [3]:
df_Country_Trascode = pd.read_csv(dir_Country_Trascode,header=0, dtype='unicode')
df_Country_Trascode.head()

    Country_name Country_code
0            NaN          NaN
1    Afghanistan           AF
2  Åland Islands           AX
3        Albania           AL
4        Algeria           DZ

In [4]:
# use glob to get all the csv files  
# in the folder 
path = "os.getcwd() "
csv_files = glob.glob(os.path.join(dir_HFE, "*.csv")) 
  
df_HFE=pd.read_csv('01.Data/Horizontal Flight Efficiency/hfe_2014.csv',header=0,delimiter=",", dtype='unicode')
df_HFE.truncate()

# loop over the list of csv files 
for f in csv_files: 
      
    # read the csv file 
    df = pd.read_csv(f) 
    #df_HFE.append(df)
    df_HFE = pd.concat([df_HFE, df], ignore_index=True)

      
    # print the location and filename 
    print('Location:', f) 
    print('File Name:', f.split("\\")[-1]) 
      
    # print the content 
    #print('Content:') 
    #display(df_HFE) 
    print()

Location: 01.Data/Horizontal Flight Efficiency/hfe_2021.csv
File Name: 01.Data/Horizontal Flight Efficiency/hfe_2021.csv

Location: 01.Data/Horizontal Flight Efficiency/hfe_2020.csv
File Name: 01.Data/Horizontal Flight Efficiency/hfe_2020.csv

Location: 01.Data/Horizontal Flight Efficiency/hfe_2022.csv
File Name: 01.Data/Horizontal Flight Efficiency/hfe_2022.csv

Location: 01.Data/Horizontal Flight Efficiency/hfe_2023.csv
File Name: 01.Data/Horizontal Flight Efficiency/hfe_2023.csv

Location: 01.Data/Horizontal Flight Efficiency/hfe_2018.csv
File Name: 01.Data/Horizontal Flight Efficiency/hfe_2018.csv

Location: 01.Data/Horizontal Flight Efficiency/hfe_2019.csv
File Name: 01.Data/Horizontal Flight Efficiency/hfe_2019.csv

Location: 01.Data/Horizontal Flight Efficiency/hfe_2014.csv
File Name: 01.Data/Horizontal Flight Efficiency/hfe_2014.csv

Location: 01.Data/Horizontal Flight Efficiency/hfe_2015.csv
File Name: 01.Data/Horizontal Flight Efficiency/hfe_2015.csv

Location: 01.Data/Horizontal Flight Efficiency/hfe_2017.csv
File Name: 01.Data/Horizontal Flight Efficiency/hfe_2017.csv

Location: 01.Data/Horizontal Flight Efficiency/hfe_2016.csv
File Name: 01.Data/Horizontal Flight Efficiency/hfe_2016.csv

In [5]:
df_HFE.head()

,YEAR,MONTH_NUM,MONTH_MON,ENTRY_DATE,ENTITY_NAME,ENTITY_TYPE,TYPE_MODEL,DIST_FLOWN_KM,DIST_DIRECT_KM,DIST_ACHIEVED_KM
0,2014,1,JAN,2014-01-01T00:00:00Z,Albania,State (FIR),CPF,44782,44746.65,44087.5
1,2014,1,JAN,2014-01-01T00:00:00Z,Albania,State (FIR),FTFM,49328,49190.07,47423.78
2,2014,1,JAN,2014-01-01T00:00:00Z,Armenia,State (FIR),FTFM,23480,23269.170000000002,23002.68
3,2014,1,JAN,2014-01-01T00:00:00Z,Austria,State (FIR),CPF,252270,251353.30000000002,247097.24
4,2014,1,JAN,2014-01-01T00:00:00Z,Austria,State (FIR),FTFM,280193,275747.03,267401.38

In [6]:
df_HFE.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583663 entries, 0 to 583662
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   YEAR              78840 non-null   object
 1   MONTH_NUM         583663 non-null  object
 2   MONTH_MON         583663 non-null  object
 3   ENTRY_DATE        583663 non-null  object
 4   ENTITY_NAME       583663 non-null  object
 5   ENTITY_TYPE       583663 non-null  object
 6   TYPE_MODEL        583663 non-null  object
 7   DIST_FLOWN_KM     583663 non-null  object
 8   DIST_DIRECT_KM    583663 non-null  object
 9   DIST_ACHIEVED_KM  583663 non-null  object
dtypes: object(10)
memory usage: 44.5+ MB

In [7]:
df_HFE.drop('YEAR', axis=1, inplace=True)
df_HFE['YEAR'] = pd.DatetimeIndex(df_HFE['ENTRY_DATE']).year

In [8]:
df_HFE['ENTRY_DATE'] = pd.to_datetime(df_HFE['ENTRY_DATE'])
df_HFE['DIST_FLOWN_KM'] = df_HFE['DIST_FLOWN_KM'].astype("float")
df_HFE['DIST_DIRECT_KM'] = df_HFE['DIST_DIRECT_KM'].astype("float")
df_HFE['DIST_ACHIEVED_KM'] = df_HFE['DIST_ACHIEVED_KM'].astype("float")

In [9]:
# European 27 Countries
countryEU27 = ['BE','BG','CZ','DK','DE','EE','IE','GR','ES','FR','HR','IT','CY','LV','LT','LU','HU','MT','NL','AT','PL','PT','RO','SI','SK','FI','SE']

In [10]:
df = df_HFE.merge(df_Country_Trascode, how='left', left_on='ENTITY_NAME', right_on='Country_name')
df = df.drop('ENTITY_NAME', axis=1)
df = df[df['Country_code'].isin(countryEU27)]
df.head()

,MONTH_NUM,MONTH_MON,ENTRY_DATE,ENTITY_TYPE,TYPE_MODEL,DIST_FLOWN_KM,DIST_DIRECT_KM,DIST_ACHIEVED_KM,YEAR,Country_name,Country_code
3,1,JAN,2014-01-01 00:00:00+00:00,State (FIR),CPF,252270.0,251353.30,247097.24,2014,Austria,AT
4,1,JAN,2014-01-01 00:00:00+00:00,State (FIR),FTFM,280193.0,275747.03,267401.38,2014,Austria,AT
9,1,JAN,2014-01-01 00:00:00+00:00,State (FIR),CPF,209055.0,208371.91,203460.63,2014,Belgium,BE
10,1,JAN,2014-01-01 00:00:00+00:00,State (FIR),FTFM,249782.0,245231.80,233493.18,2014,Belgium,BE
13,1,JAN,2014-01-01 00:00:00+00:00,State (FIR),CPF,196601.0,196433.95,194582.78,2014,Bulgaria,BG

In [11]:
df.filter(items=['ENTITY_NAME','Country_code']).drop_duplicates()

   Country_code
3            AT
9            BE
13           BG
15           HR
17           CY
25           DK
29           EE
39           FI
41           FR
44           DE
46           GR
48           HU
50           IE
52           IT
54           LV
56           LT
58           MT
72           PL
78           RO
88           SK
90           SI
92           ES
98           SE

In [12]:
df_HFE = df

In [13]:
df_HFE.ENTRY_DATE.min()

Timestamp('2014-01-01 00:00:00+0000', tz='UTC')

In [14]:
df_HFE.ENTRY_DATE.max()

Timestamp('2023-11-30 00:00:00+0000', tz='UTC')

# Export

In [15]:
df_HFE.to_csv(out_HFE, index=False)

In [16]:
df_HFE_grouped = df_HFE.groupby(['YEAR', 'Country_code']).agg({'DIST_FLOWN_KM':'sum','DIST_DIRECT_KM':'sum'})
df_HFE_grouped['HFE_EFF'] = df_HFE_grouped['DIST_FLOWN_KM'] / df_HFE_grouped['DIST_DIRECT_KM']
df_HFE_grouped.reset_index(inplace=True)
df_HFE_grouped['DIST_FLOWN_KM'] = df_HFE_grouped['DIST_FLOWN_KM']/1000000
df_HFE_grouped['DIST_DIRECT_KM'] = df_HFE_grouped['DIST_DIRECT_KM']/1000000
df_HFE_grouped.head()

   YEAR Country_code  DIST_FLOWN_KM  DIST_DIRECT_KM   HFE_EFF
0  2014           AT     708.070330      701.165466  1.009848
1  2014           BE     566.981700      559.195634  1.013924
2  2014           BG     639.745440      638.288742  1.002282
3  2014           CY     219.757380      210.405228  1.044448
4  2014           DE    3353.983954     3283.184860  1.021564

In [17]:
df_HFE_grouped.to_csv(out_HFE_grouped, index=False)