# Modules

In [1]:
import pandas as pd
import os 
import glob

# Variables

In [2]:
dir_HFE = '01.Data/Horizontal Flight Efficiency'

# Load data

In [20]:
# use glob to get all the csv files  
# in the folder 
path = "os.getcwd() "
csv_files = glob.glob(os.path.join(dir_HFE, "*.csv")) 
  
df_HFE=pd.read_csv('01.Data/Horizontal Flight Efficiency/hfe_2014.csv',header=0,delimiter=",", dtype='unicode')
df_HFE.truncate()

# loop over the list of csv files 
for f in csv_files: 
      
    # read the csv file 
    df = pd.read_csv(f) 
    #df_HFE.append(df)
    df_HFE = pd.concat([df_HFE, df], ignore_index=True)

      
    # print the location and filename 
    print('Location:', f) 
    print('File Name:', f.split("\\")[-1]) 
      
    # print the content 
    #print('Content:') 
    #display(df_HFE) 
    print()

Location: 01.Data/Horizontal Flight Efficiency/hfe_2021.csv
File Name: 01.Data/Horizontal Flight Efficiency/hfe_2021.csv

Location: 01.Data/Horizontal Flight Efficiency/hfe_2020.csv
File Name: 01.Data/Horizontal Flight Efficiency/hfe_2020.csv

Location: 01.Data/Horizontal Flight Efficiency/hfe_2022.csv
File Name: 01.Data/Horizontal Flight Efficiency/hfe_2022.csv

Location: 01.Data/Horizontal Flight Efficiency/hfe_2023.csv
File Name: 01.Data/Horizontal Flight Efficiency/hfe_2023.csv

Location: 01.Data/Horizontal Flight Efficiency/hfe_2018.csv
File Name: 01.Data/Horizontal Flight Efficiency/hfe_2018.csv

Location: 01.Data/Horizontal Flight Efficiency/hfe_2019.csv
File Name: 01.Data/Horizontal Flight Efficiency/hfe_2019.csv

Location: 01.Data/Horizontal Flight Efficiency/hfe_2014.csv
File Name: 01.Data/Horizontal Flight Efficiency/hfe_2014.csv

Location: 01.Data/Horizontal Flight Efficiency/hfe_2015.csv
File Name: 01.Data/Horizontal Flight Efficiency/hfe_2015.csv

Location: 01.Data/Horizontal Flight Efficiency/hfe_2017.csv
File Name: 01.Data/Horizontal Flight Efficiency/hfe_2017.csv

Location: 01.Data/Horizontal Flight Efficiency/hfe_2016.csv
File Name: 01.Data/Horizontal Flight Efficiency/hfe_2016.csv

In [22]:
df_HFE.head()

,YEAR,MONTH_NUM,MONTH_MON,ENTRY_DATE,ENTITY_NAME,ENTITY_TYPE,TYPE_MODEL,DIST_FLOWN_KM,DIST_DIRECT_KM,DIST_ACHIEVED_KM
0,2014,1,JAN,2014-01-01T00:00:00Z,Albania,State (FIR),CPF,44782,44746.65,44087.5
1,2014,1,JAN,2014-01-01T00:00:00Z,Albania,State (FIR),FTFM,49328,49190.07,47423.78
2,2014,1,JAN,2014-01-01T00:00:00Z,Armenia,State (FIR),FTFM,23480,23269.170000000002,23002.68
3,2014,1,JAN,2014-01-01T00:00:00Z,Austria,State (FIR),CPF,252270,251353.30000000002,247097.24
4,2014,1,JAN,2014-01-01T00:00:00Z,Austria,State (FIR),FTFM,280193,275747.03,267401.38

In [23]:
df_HFE.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583663 entries, 0 to 583662
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   YEAR              78840 non-null   object
 1   MONTH_NUM         583663 non-null  object
 2   MONTH_MON         583663 non-null  object
 3   ENTRY_DATE        583663 non-null  object
 4   ENTITY_NAME       583663 non-null  object
 5   ENTITY_TYPE       583663 non-null  object
 6   TYPE_MODEL        583663 non-null  object
 7   DIST_FLOWN_KM     583663 non-null  object
 8   DIST_DIRECT_KM    583663 non-null  object
 9   DIST_ACHIEVED_KM  583663 non-null  object
dtypes: object(10)
memory usage: 44.5+ MB

In [26]:
df_HFE['ENTRY_DATE'] = pd.to_datetime(df_HFE['ENTRY_DATE'])
df_HFE['DIST_FLOWN_KM'] = df_HFE['DIST_FLOWN_KM'].astype("float")
df_HFE['DIST_DIRECT_KM'] = df_HFE['DIST_DIRECT_KM'].astype("float")
df_HFE['DIST_ACHIEVED_KM'] = df_HFE['DIST_ACHIEVED_KM'].astype("float")

In [33]:
df_HFE.ENTITY_NAME.unique()

array(['Albania', 'Armenia', 'Austria', 'BLUE MED FAB', 'Baltic FAB',
       'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia',
       'Cyprus', 'Czech Republic', 'DANUBE FAB', 'DK-SE FAB', 'Denmark',
       'EUROCONTROL Area (PRR)', 'Estonia', 'FAB CE', 'FAB CE (SES RP1)',
       'FAB CE (SES RP2)', 'FABEC', 'Finland', 'France', 'Georgia',
       'Germany', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia',
       'Lithuania', 'Malta', 'Moldova', 'Morocco', 'NEFAB', 'Netherlands',
       'North Macedonia', 'Norway', 'Poland', 'Portugal (Continental)',
       'RP2 minus UK', 'Romania', 'SES Area (RP1)', 'SES Area (RP2)',
       'SW FAB', 'Serbia and Montenegro', 'Slovakia', 'Slovenia', 'Spain',
       'Spain (Canarias)', 'Spain (Continental)', 'Sweden', 'Switzerland',
       'UK (Continental)', 'UK-Ireland FAB', 'Ukraine', 'SES Area (RP3)',
       'Turkiye'], dtype=object)

In [28]:
df_HFE.ENTRY_DATE.min()

Timestamp('2014-01-01 00:00:00+0000', tz='UTC')

In [29]:
df_HFE.ENTRY_DATE.max()

Timestamp('2023-11-30 00:00:00+0000', tz='UTC')