# Modules

In [1]:
import pandas as pd

# Variables

In [2]:
dir_ASMA = '01.Data/Efficiency in the Arrival Sequencing and Metering Area/ASMA_Additional_Time.xlsx'

# Load data

In [4]:
df_ASMA = pd.read_excel(dir_ASMA, engine='openpyxl', sheet_name='DATA')

In [5]:
df_ASMA.head()

,YEAR,MONTH_NUM,MONTH_MON,APT_ICAO,APT_NAME,STATE_NAME,TF,VALID_FL,NO_REF,TOTAL_REF_NB_FL,TOTAL_REF_TIME_MIN,TOTAL_ADD_TIME_MIN,COMMENT,PIVOT_LABEL
0,2018,1,JAN,EBBR,Brussels,Belgium,8528.0,6877.0,110.0,6767.0,74294.406667,19771.226667,NaN,Brussels (EBBR)
1,2018,2,FEB,EBBR,Brussels,Belgium,8236.0,6640.0,228.0,6412.0,72888.764167,21676.735833,NaN,Brussels (EBBR)
2,2018,3,MAR,EBBR,Brussels,Belgium,9399.0,7591.0,654.0,6937.0,77754.036667,19104.530000,NaN,Brussels (EBBR)
3,2018,4,APR,EBBR,Brussels,Belgium,9941.0,7773.0,119.0,7654.0,84399.544167,16280.505833,NaN,Brussels (EBBR)
4,2018,5,MAY,EBBR,Brussels,Belgium,10436.0,8271.0,66.0,8205.0,91931.490000,18441.676667,NaN,Brussels (EBBR)