In [22]:
import pandas as pd

In [23]:
df_Country_ISO = pd.read_csv('04.Trascode/List_of_ISO_3166_country_codes_1.csv',header=0, skiprows=1, dtype='unicode')

In [24]:
df_Country_ISO.head()

,Country name,Official state name per the World Factbook,Sovereignty,A-2,A-3,N.c.,Subdivision code links,TLD
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,The Islamic Republic of Afghanistan,UN member state,AF,AFG,004,ISO 3166-2:AF,.af
2,Åland Islands,Åland,Finland,AX,ALA,248,ISO 3166-2:AX,.ax
3,Albania,The Republic of Albania,UN member state,AL,ALB,008,ISO 3166-2:AL,.al
4,Algeria,The People's Democratic Republic of Algeria,UN member state,DZ,DZA,012,ISO 3166-2:DZ,.dz

In [25]:
df_Country_ISO = df_Country_ISO.filter(items=['Country name','A-2']).drop_duplicates()
df_Country_ISO = df_Country_ISO.rename(columns={'Country name': 'Country_name', 'A-2': 'Country_code'})

In [26]:
df_Country_ISO.head()

    Country_name Country_code
0            NaN          NaN
1    Afghanistan           AF
2  Åland Islands           AX
3        Albania           AL
4        Algeria           DZ

In [27]:
df_Country_ISO.to_csv('04.Trascode/out_Country_ISO.csv', index=False)